<div class="wrapper">

  <header>
    <h1 class ="typewriter"><span class="waving-hand">🚲</span>Resources</h1>
  </header>

  <section class="columns">
	  <div class="column">
        <%= image_tag("signup.jpg", class: "pic-change", alt: "user image") %>
        <p class="text">1. Select</p>
        <p class="text-1">Choose a bike from any station.</p>
    </div>

    <div class="column">
        <%= image_tag('unlock.jpg', alt: 'ValetBike', class: "pic-change") %>
        <p class="text">2. Unlock</p>
        <p class="text-1">Unlock a bike and enjoy!</p>
    </div>

    <div class="column">
        <%= image_tag('dock.jpg', alt: 'ValetBike', class: "pic-change") %>
        <p class="text">3. Dock</p>
        <p class="text-1">Dock your bike at any station.</p>
    </div>
  </div>
  </section>	

  <!---------------------------------------------------------------------------------------------------------->

    <h3 class="faqs" >FAQs</h3>

  <div class="wrapper">
  <div class="container-fluid" id="accordianExample">
    <div class="accordian-item">
    <h3 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Why should I choose Hydrabikes?
      </button>
    </h3>
    <div id="collapseOne" class="accordion-collapse collapse"  aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We deliver fast, easily maintainable bikes at an affordable price.
      </div>
    </div>
  </div>
  
  <div class="accordion" id="accordianExample">
    <div class="accordian-item">
    <h3 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Where can I sign up for a bike?
      </button>
    </h3>
    <div id="collapseTwo" class="accordion-collapse collapse"  aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Welcome! Click <%= link_to "here", "users/sign_in" %> to log into your account. No account? Sign up <%= link_to "here", "/users/sign_up" %>!
      </div>
    </div>
  </div>
    
  <div class="accordion" id="accordianExample">
    <div class="accordian-item">
    <h3 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Where can I find the bikes?
      </button>
    </h3>
    <div id="collapseThree" class="accordion-collapse collapse"  aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You can find all of the bikes on this <%= link_to "map", "/home" %>. You can also search by station <%= link_to "stations", "/stations" %>. 
      </div>
    </div>
  </div>
  
  <div class="accordion" id="accordianExample">
    <div class="accordian-item">
    <h3 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        What membership options do you have?
      </button>
    </h3>
    <div id="collapseFour" class="accordion-collapse collapse"  aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Find out about our memberships and pricing <%= link_to "here", "/memberships" %>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordianExample">
    <div class="accordian-item">
    <h3 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        What forms of payment are needed to rent a bike?
      </button>
    </h3>
    <div id="collapseFive" class="accordion-collapse collapse"  aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We use stripe which allows for easy payment.
      </div>
    </div>
  </div>

  <div class="accordion" id="accordianExample">
    <div class="accordian-item">
    <h3 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
        What if I am returning a bike and all stations are full?
      </button>
    </h3>
    <div id="collapseSix" class="accordion-collapse collapse"  aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Each bike comes with a lock; when docking stations are full, use the lock to secure your bike. Please contact us to ensure we retrive it. 
      </div>
    </div>
  </div>
  </div>

  <div class="wrapper-contact">
    <h3>Contact Us</h3>
    <p><i>We love compliments<i></p>
    <form class="cf">
      <div class="half left cf">
        <input type="text" class="input-contact" placeholder="Name">
        <input type="email" class="input-contact" placeholder="Email address">
        <input type="text" class="input-contact" placeholder="Subject">
      </div>
      <div class="half right cf">
        <textarea class="message" placeholder="Message"></textarea>
      </div>  
      <input type="submit" class="submit-button">
    </form>
  </div>

</div>
