<div>
  <h1><%= @station.name %></h1>
  <p><%= @station.address %></p>
  <p>Available Bikes: <%= @station.docked_bikes.count %></p>

  <div class="field">
    <% if @station.docked_bikes.count > 0 %>
      <%= form_with url: checkout_path, method: :get do |f| %>
        <%= render(partial: "stations/bike", collection: @station.docked_bikes, as: :bike, locals: {form: f}) %>
        <%= f.submit "Rent this bike" %>
      <% end %>
    <% else %>
      <div>No bikes available! Sorry!</div>
    <% end %>
  </div>

</div>
