<%# Source of reference https://getbootstrap.com/docs/4.0/components/carousel/#carouselcycle %>

<div class="section-inner flexbox vertical stretch">
  <h1>Explore Nipmuc</h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.closudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('carousel1.jpg', alt: 'ValetBike', class: "d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel2.jpg', alt: 'ValetBike', class: "d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag('carousel3.jpg', alt: 'ValetBike', class: "d-block w-100") %>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>

  <div class="container-resources">
  <h3><br>Our Stations</h3>

  <div class="gallery">
    <div class="gallery-item">
      <button class="btn">Florence Bank</button>
      <%= image_tag("bikepic1.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Florence Center</button>
      <%= image_tag("bikepic2.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Jackson Street</button>
      <%= image_tag("bikepic3.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Cooley Dickinson</button>
      <%= image_tag("bikepic4.gif", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Mass Central Rail Trail</button>
      <%= image_tag("bikepic5.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Northampton High</button>
      <%= image_tag("bikepic6.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Village Hill</button>
      <%= image_tag("bikepic1.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">John Greene Hall</button>
      <%= image_tag("bikepic2.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Forbes Library</button>
      <%= image_tag("bikepic3.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Pulaski Park</button>
      <%= image_tag("bikepic4.gif", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Main Street</button>
      <%= image_tag("bikepic5.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Train Station</button>
      <%= image_tag("bikepic6.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Bridge Street</button>
      <%= image_tag("bikepic1.jpg", class: "gallery-image", alt: "user image") %>
    </div>
    <div class="gallery-item">
      <button class="btn">Childs Park</button>
      <%= image_tag("bikepic2.jpg", class: "gallery-image", alt: "user image") %>
    </div>
  </div>
</div>

  <button class="button">Reserve Your Bike</button>


<%#  
    <div id="smart-button-container">
      <div style="text-align: center;">
        <div style="margin-bottom: 1.25rem;">
          <select id="item-options"><option value="Single 30 Ride" price="10">One ride for up to 30 minutes</option><option value="Single 40 Ride" price="20">One ride for up to 40 minutes</option></select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
      <div id="paypal-button-container"></div>
      </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      function initPayPalButton() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
    var quantity = parseInt();
    var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
    if (!isNaN(quantity)) {
      quantitySelect.style.visibility = "visible";
    }
    var orderDescription = 'ValetBike Ride';
    if(orderDescription === '') {
      orderDescription = 'Item';
    }
    paypal.Buttons({
      style: {
        shape: 'pill',
        color: 'silver',
        layout: 'vertical',
        label: 'checkout',
       
      },
      createOrder: function(data, actions) {
        var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
        var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
        var tax = (0 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
        if(quantitySelect.options.length > 0) {
          quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
        } else {
          quantity = 1;
        }
 
        tax *= quantity;
        tax = Math.round(tax * 100) / 100;
        var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
        priceTotal = Math.round(priceTotal * 100) / 100;
        var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;
 
        return actions.order.create({
          purchase_units: [{
            description: orderDescription,
            amount: {
              currency_code: 'USD',
              value: priceTotal,
              breakdown: {
                item_total: {
                  currency_code: 'USD',
                  value: itemTotalValue,
                },
                shipping: {
                  currency_code: 'USD',
                  value: shipping,
                },
                tax_total: {
                  currency_code: 'USD',
                  value: tax,
                }
              }
            },
            items: [{
              name: selectedItemDescription,
              unit_amount: {
                currency_code: 'USD',
                value: selectedItemPrice,
              },
              quantity: quantity
            }]
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
         
          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
 
          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';
 
          // Or go to another URL:  actions.redirect('thank_you.html');
 
        });
      },
      onError: function(err) {
        console.log(err);
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
    </script>
    </div>
  </div>
</div>
 %>
