<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
  </head>

  <body>

    <%# Reference: https://human-se.github.io/rails-demos-n-deets-2020/demo-bootstrap-navbar/ %>
  
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container brandbox">
      <a class="navbar-brand" href="/">
        <img src="/pretendlogo.jpg" alt="ValetBike"> <%#located in assets. Might work better in index.html %>
      </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <div>
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <%= link_to "Home", "/home", class: "nav-link", method: :get %>
              </li>

              <li class="nav-item">
                <%= link_to "Rent", "/rent", class: "nav-link", method: :get %>
              </li>

              <li class="nav-item">
                <%= link_to "Help", "/help", class: "nav-link", method: :get %>
              </li>

              <li class="nav-item">
                <% if user_signed_in? %> 
                  <div> Welcome <%= current_user.first_name %> </div> 
                    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
                  <% else %>
                    <%= button_to "Sign in", new_user_session_path %> 
                  <% end %>
              </li>
            </ul>
          </div>

          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
    </nav>
    
    <main>
      <div class="flexbox vertical center">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <div class="wrapper">
      <footer class="flexbox horizontal justify-space-between">
        <div>&copy; Hydrabikes Founded in 89 B.C.</div>

        <%# Add color using javascript %>
        <div>
          Reach out to us <a href="mailto:hydrabikes@gmail.com"> Email: Hydrabikes </a>
        </div>
        
        <%# for inclusive purposes %>
        <%# Reference: https://www.coderepublics.com/howto/how-to-google-translate.php %>
        <div id="google_translate_element"></div>
          
          <script type="text/javascript"> 
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
          </script>
          
        <script type="text/javascript"
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </footer>
      </div>
    </div>  
  </body>
</html>
