<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    
    <!-- CSS for leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <!-- Javascript for leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>


    <title>ValetBike</title>
  </head>

  <body class="flex flex-col h-screen justify-between">
  <nav class="text-center p-5 border-b-4" class="navbar navbar-light bg-light">
        <%# <div class="container brandbox">
          <a class="navbar-brand" href="/">
          </a>
        </div> %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="navbar-nav" id="navbarColor01">
          <div>

              <li class="nav-link", data-turbo="false">
                <%= link_to "Home", home_path, class: "nav-link" %>
              </li>

              <li class="nav-link", data-turbo="false">
                <%= link_to "About", "/about", class: "nav-link" %>
              </li>

              <li class="nav-link">
                <%= link_to "Rent", "/rent", class: "nav-link", method: :get %>
              </li>

              <li class="nav-link">
                <%= link_to "Resources", "/help", class: "nav-link", method: :get %>
              </li>

              <li class="nav-link">
                <% if user_signed_in? %>
                  <div> Welcome <%= current_user.first_name %> </div>
                    <%= button_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %>
                  <% else %>
                    <%= button_to "Sign in", new_user_session_path, class: "nav-link" %> 
                  <% end %>
              </li>
            </ul>
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
          </div>
      </div>
    </nav>

    <main class="flex-grow">
      <div class="flexbox vertical center">
        <!-- Display notice or alert messages -->
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>

      <div class="min-h-screen">
      <footer class="sticky top-[100vh]">
        <div>&copy; Hydrabikes Founded in 89 B.C.</div>

        <!-- Add color using javascript -->
        <div>
          Reach out to us <a href="mailto:hydrabikes@gmail.com"> Email: Hydrabikes </a>
        </div>
 
        <!-- for inclusive purposes -->
        <!-- Reference: https://www.coderepublics.com/howto/how-to-google-translate.php -->
        <div id="google_translate_element"></div>
          <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
          </script>

        <script type="text/javascript"
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </footer>
      </div>
    </div>
  </body>
</html>


